body{
    font-family: 'Roboto', sans-serif;
    background-color: sandybrown;
}
#heading{
    text-align: center;
    width: 100%;
    margin-top: 5%;
}
#quiz-body{
    height: 40%;
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgb(0, 0, 0,0.1);
}
#question{
    width:100%;
    text-align: center;
    height: 20%;
    
}
#option1{
    float: left;
}
button{
    display: block;
    margin: auto;
    background-color: white;
    border-color: white;
    box-shadow: none;
    margin-top: 20px;
}